<div class="container">
	<div class="row margin-top-large margin-bottom-large">
		<h1>{{ title }}</h1>
		<h5 class="muted">Developer</h5>
		<a href="https://twitter.com/_todaysholidays" class="button">See it</a>
	</div>
	<div class="row">
		<h5>Overview</h5>
		<p>Holiday bot is just a simple twitter bot that post everyday all the holidays from my holiday app into a twitter feed.</p>
	</div>
	<div class="row">
		<h5>The Challenges</h5>
		<p>This was a simple project that I did in one night, but the challenge I faced was learning about the Twitter api and integrating that with nodejs.</p>
	</div>
	<div class="row">
		<h5>The Outcome</h5>
		<div class="row">
			<div class="twelve columns">
				<img class="responsive-image" src="/img/work/holidaybot/screenshot.jpg" alt="">
			</div>
		</div>
	</div>
</div>