<div class="container">
	<div class="row margin-top-large margin-bottom-large">
		<h1>{{ title }}</h1>
		<h5 class="muted">Developer</h5>
	</div>
	<div class="row">
		<h5>Overview</h5>
		<p></p>
	</div>
	<div class="row">
		<h5>The Challenges</h5>
		<p></p>
	</div>
	<div class="row">
		<h5>The Outcome</h5>
		<p></p>
	</div>
</div>