<div class="container">
	<div class="row margin-top-large margin-bottom-large">
		<h1>{{ title }}</h1>
		<h5 class="muted">Developer and Designer</h5>
	</div>
	<div class="row">
		<h5>Overview</h5>
		<p>Homemade is a website designed for people who enjoy eating homemade food without actually cooking it,  instead,  users  look  up,  in  a  map,  nearby  home-cooks  that  can  take  orders. Homemade allows users to order food made by cooks who are located around the user.</p>
	</div>
	<div class="row">
		<h5>Why we built it</h5>
		<p>We built Homemade as a college project for an E-commerce class. For the project we didn’t want to build another E-commerce store but rather take this project as an opportunity to build a useful product that we wanted to use as part of our everyday lives. Since both my teammate and I came from different cultural backgrounds, we wanted to do something that would cater to our cultures. We both loved homemade food and wanted to bring the taste and passion of our grandmothers’ food to people who have never experienced home cooked meals. It gives users a low cost, local, homemade meal, and gives cooks a way to share their food and perhaps start a business out of it. It is a win for both parties.</p>
	</div>
	<div class="row">
		<h5>The Process</h5>
		<p>Before we came to the idea of Homemade, we had tons of bad ideas, but as we continued pitching ideas and variations we came up with Homemade. When you are doing any creative collaborative process, you have to be able to accept that your idea may be bad and you can’t take it to heart. The process is not easy and can end up hurting someone’s feelings, but in the end all participants agree it is extremely fun and worth it.</p>
	</div>
	<div class="row">
		<h5>The Challenges</h5>
		<p>One of the biggest challenges that this particular product poses is the aspect of legality. Since this was just a school project, we had no users or legal parts to worry about. But we thought about starting a company from this, and were worried about the legal aspects of having cooks make food for users. We would need to have all of our cooks verified and monitored, and this seems like an almost impossible task for a little startup company. We would need a massive team to monitor all the cooks, and a lot of lawyers to protect the users.</p>
		<p>One of our biggest questions we thought about is what would happen if a user got sick from one of our cook’s meals? And this leads us to so many questions we don’t know the answer to. Here are some of the questions we thought about: Would we be at fault or would the cook? How can we protect users from getting sick? How can ensure that the quality of the food is up to standard? What would be the best way of monetizing this product? How do we get started with such a huge undertaking? How can we raise money to start? How can we convince new users that the food is safe and cooks are verified?</p>
		<p>These are just some of the questions we asked. We still don’t know how to answer all of these questions, but we do know we want to start this company.</p>
	</div>
	<div class="row">
		<h5>The future</h5>
		<p>My teammate and I are still extremely interested in making Homemade a reality. If you are interested as we are in Homemade, and are a user, a cook, or an investor, please send me an email and tell me what you think.</p>
	</div>
	<div class="margin-bottom-large">
		<h5>The Outcome</h5>
		<div class="row margin-top-small">
			<div class="twelve columns">
				<p>An example sketch of the home page</p>
				<img class="responsive-image" src="/img/work/homemade/homemade_homepage.jpg" alt="">
			</div>
		</div>
	</div>
</div>