<div class="container">
	<div class="row margin-top-large">
		<h1 class="text-center">Work</h1>
	</div>
	<div class="row margin-top-large">
		<div class="two columns">
			<img class="responsive-image" src="/img/work/rememberize/rememberize.png" alt="">
		</div>
		<div class="ten columns">
			<h5>Rememberize</h5>
			<p>Rememberize is an android app I worked on in my free time to solve a problem that I had. Everytime I had to study for a test or cram a lot of material in my head, I had to write it down in a list. The problem was that I had to keep opening my list and it wasn't structured the way I wanted it. Rememberize solves this problem.</p>
			<a href="/work/rememberize" class="button button-primary">See in detail</a>
		</div>
	</div>

		<div class="row margin-top-large">
		<div class="two columns">
			<img class="responsive-image" src="/img/work/todaysholiday/todaysholiday.png" alt="">
		</div>
		<div class="ten columns">
			<h5>Today's Holiday</h5>
			<p>Today's Holiday was a fun small app I built over a week or two. I got the idea because there was a day a called "Talk like a pirate day" and I wondered there must be more weird days like this. I searched the app store for apps but there was nothing. So I made this for fun and to learn more about Android development.</p>
			<a href="/work/todaysholiday" class="button button-primary">See in detail</a>
		</div>
	</div>

	<div class="row margin-top-large">
		<div class="two columns">
			<img class="responsive-image" src="/img/work/soundcloudcast/soundcloudcast.jpg" alt="">
		</div>
		<div class="ten columns">
			<h5>Soundcloud Cast</h5>
			<p>There is a lot of extremely good music on Soundcloud. Listening it to on a computer, or a mobile phone is great. Sometimes you just want to listen to it on your tv so that you can sit back and relax. Soundcloud Cast enables listeners to stream music from Soundcloud on their web browser to the chromecast. Soundcloud Cast is a chrome extension.</p>
			<a href="/work/soundcloudcast" class="button button-primary">See in detail</a>
		</div>
	</div>


	<div class="row margin-top-large">
		<div class="two columns">
			<img class="responsive-image" src="/img/work/holidaybot/todaysholidaytwitter.jpg" alt="">
		</div>
		<div class="ten columns">
			<h5>Holiday Bot</h5>
			<p>A twitter bot that posts weird holidays from the Today's Holiday app.</p>
			<a href="/work/holidaybot" class="button button-primary">See in detail</a>
		</div>
	</div>

	<div class="row margin-top-large">
		<div class="two columns">
			<img class="responsive-image" src="/img/work/homemade/homemade.jpg" alt="">
		</div>
		<div class="ten columns">
			<h5>Homemade</h5><p>A project that I built with a friend for a school e-commerce project. Homemade allows users to order dishes cooked from local home cooks.</p>
			<a href="/work/homemade" class="button button-primary">See in detail</a>
		</div>
	</div>

	<div class="row margin-top-large margin-bottom-large">
		<div class="two columns">
			<img class="responsive-image" src="/img/work/weatherapp/weatherapp.webp" alt="">
		</div>
		<div class="ten columns">
			<h5>Weather App</h5>An unfinished android app I developed in order for me to learn about the android development platform.</p>
			<a href="/work/weatherapp" class="button button-primary">See in detail</a>
		</div>
	</div>
	
</div>