<div class="container">
	<div class="row margin-top-large margin-bottom-large">
		<h1>{{ title }}</h1>
		<h5 class="muted">Developer and Designer</h5>
		<a href="https://chrome.google.com/webstore/detail/soundcloud-cast/ladhdfnaobggbpleommmkabncgenacho" class="button">Get it</a>
	</div>
	<div class="row">
		<h5>Overview</h5>
		<p>Soundcloudcast allows users using the chrome browser to cast Soundcloud music to their Chromecast. Soundcloudcast is a simple chrome extension that injects the Chromecast button into the Soundcloud webpage and allows users to start casting music to their Chromecast. The chrome extension is currently being used by over 2000 people.</p>
	</div>
	<div class="row">
		<h5>Why I built it</h5>
		<p>I built Soundcloudcast because I wanted to be able to cast music from Soundcloud to my television. I looked for similar chrome extensions and there wasn’t any, so I built it.</p>
	</div>
	<div class="row">
		<h5>The Challenges</h5>
		<p>The biggest challenge building this chrome extension was making the user experience flawless and seamless. I didn’t want something that was buggy or hacky, I wanted something that felt native and felt that it was built by the Soundcloud developer team. </p>
		<p>One big issue that still needs to be fixed is muting the music on the browser when it casts to the Chromecast. Currently, there is no way to natively mute a chrome tab with javascript, and Soundcloud doesn’t load the music as an audio tag. Once these things are implemented, I am going to immediately fix this issue.</p>
	</div>
	<div class="row margin-bottom-large">
		<h5>The Outcome</h5>
		<p>Overall, I am extremely happy about this product. I still use this product every time I listen to music on Soundcloud.</p>

		<div class="row">
			<div class="twelve columns">
				<img class="responsive-image" src="/img/work/soundcloudcast/webpage.jpg" alt="">
				<p>At the bottom of the screenshot where the player is, the chromecast button has been injected by my chromecast extension.</p>
			</div>
		</div>
	</div>
</div>