<div class="container">
	<div class="row margin-top-large margin-bottom-large">
		<h1>{{ title }}</h1>
		<h5 class="muted">Developer and Designer</h5>
	</div>
	<div class="row">
		<h5>Overview</h5>
		<p>This weather app is another weather app among the millions out there, but what makes my weather app different is that it changes the app’s color depending on the temperature, time, and weather conditions. It allows users to get the weather for up to 5 locations. Users can add locations by either searching using the autocomplete textbox or by using the user’s location via GPS. </p>
	</div>
	<div class="row">
		<h5>Why I built it</h5>
		<p>Initially I start building this app to learn about android development. I wasn’t planning on releasing to the public but as I got further into developing it, I wanted to publish it. In the end I never end up publishing it due to the vast amount of work to be done and the little amount of time I had balancing school and personal projects. I do regret not finishing it, but I think I learned more about android development from this app then I did from my android class in college.</p>
	</div>
	<div class="row">
		<h5>The Challenges</h5>
		<p>There were numerous amounts of challenges to overcome. Most of these challenges were due geo locations and dealing with time across time zones.</p>
		<p>One of the challenges was trying to find a weather service that was free, easy to use, accurate, and allowed me to search for places using coordinates. Free services are usually really bad, but I just wanted something that would work because I knew I wasn’t going to publish anything. I knew that in the future that I might switch weather services, so I built in a way that would work for any weather service.</p>
		<p>Another challenge was dealing with the different time zones. Since my app has the sunrise and sunset times for each location, I wanted to convert the time zone provided from the weather service to the user’s time zone. If anyone has tried doing time zones, they know how much of a pain this is. I never managed to fix this issue and this was one of the reasons why I never got around to finishing the app.</p>
		<p>Though there were many challenges, I pushed through all of them and learned a lot about android development and I learned a lot about how much I could push myself to learn new stuff.</p>
	</div>
	<div class="margin-bottom-large">
		<h5>The Outcome</h5>

		<div class="row ">
			<div class="four columns">
				<img class="responsive-image" src="/img/work/weatherapp/screenshot1.png" alt="Today's holiday app">	
			</div>
			<div class="four columns">
				<img class="responsive-image" src="/img/work/weatherapp/screenshot2.png" alt="Today's holiday app">
			</div>
			<div class="four columns">
				<img class="responsive-image" src="/img/work/weatherapp/screenshot3.png" alt="Today's holiday app">
			</div>
		</div>

		<div class="row margin-top-small">
			<div class="four columns">
				<img class="responsive-image" src="/img/work/weatherapp/screenshot4.png" alt="Today's holiday app">	
			</div>
			<div class="four columns">
				<img class="responsive-image" src="/img/work/weatherapp/screenshot5.png" alt="Today's holiday app">
			</div>
			<div class="four columns">
				<img class="responsive-image" src="/img/work/weatherapp/screenshot6.png" alt="Today's holiday app">
			</div>
		</div>

	</div>
</div>