<div class="container">


	<div class="row margin-top-large">
		<div class="twelve column">
			<h4 class="text-center">I am</h4>
			<h1 id="content-1" class="text-center bold hide">a Full stack developer</h1>
			<h1 id="content-2" class="text-center bold hide">an Android developer</h1>
			<h1 id="content-2" class="text-center bold hide">an Experience designer</h1>
			<h1 id="content-2" class="text-center bold hide">a Photographer</h1>
			<h1 id="content-2" class="text-center bold hide">Steven Tucci</h1>
		</div>
	</div>


	<div class="row margin-top-large">
		<div class="twelve column">
			<ul class="list-no-style flex-center">
				<li class="link-space u-pull-left">
					<a href="mailto:tuccisteven@gmail.com">email</a>
				</li>
				<li class="link-space u-pull-left">
					<a href="https://twitter.com/tucci_2">twitter</a>
				</li>
				<li class="link-space u-pull-left">
					<a href="https://github.com/tucci">github</a>
				</li>
				<li class="link-space u-pull-left">
					<a href="https://play.google.com/store/apps/developer?id=Tucci+Laboratories">android</a>
				</li>
				<li class="link-space u-pull-lefte">
					<a href="https://ca.linkedin.com/in/steven-tucci-992894a5">linkedin</a>
				</li>
			</ul>
		</div>
	</div>
</div>