<div class="container">
	<div class="row margin-top-large text-center">
		{{!--  About header text --}}
		<h3>I love to</h3>
		<h1 id="content-1" class="hide">craft beautiful products</h1>
		<h1 id="content-2" class="hide">explore new ideas</h1>
		<h1 id="content-3" class="hide">solve problems</h1>
		<h1 id="content-3" class="hide">empower users</h1>
	</div>
	<div class="row margin-top-medium">
		<div class="two columns">
			<h6>About</h6>
		</div>
		<div class="ten columns">
			<p>I'm Steven Tucci. I am extremely obsessive about the small details, design, colour, user experience, and the emotion people feel when they use a product. I am passionate about technology, music, design, film, photography, video games, virtual reality, travelling, and learning new things.</p>
			<p> Hope you learned a little about me, but there is a lot more to know about me. Maybe we can get coffee sometime and we can become friends. :)</p>
		</div>
	</div>
	
	<div class="row margin-top-medium">
		<div class="two columns">
			<h6>Skills</h6>
		</div>
		<div class="ten columns">
			<ul>
				<li>Technical Writing</li>
				<li>Team Work</li>
				<li>HTML/CSS</li>
				<li>Javascript/Nodejs/Express</li>
				<li>PHP/CakePHP</li>
				<li>Java/Android</li>
				<li>C++</li>
				<li>Python</li>
				<li>MySQL</li>
				<li>Photography</li>
				<li>Photo and video editing</li>
				<li>3D Modelling</li>
				<li>Photoshop/After Effects/Premiere</li>
				<li>Microsoft Office</li>
			</ul>
		</div>
	</div>
	
	<div class="row margin-top-medium">
		<div class="two columns">
			<h6>Experience</h6>
		</div>
		<div class="ten columns">
			<ul class="list-no-style">
				<li><span class="bold">Crew Labs</span> - Full Stack Developer Intern
					<ul class="list-no-indent list-no-style">
						<li>Worked and communicated on a fast moving team of developers</li>
						<li>Developed fault tolerant algorithm to synchronize users to multiple mailing lists</li>
						<li>Helped implement backend administration interface for the support team</li>
						<li>Managed backend, frontend, and database layers. Helped design UI and UX</li>
						<li>Implemented, debugged, and documented all existing and new features</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="row margin-top-medium">
		<div class="two columns">
			<h6>Education</h6>
		</div>
		<div class="ten columns">
			<ul class="list-no-style">
				<li><span class="bold">Bachelors in Computer Science General</span>
					<ul class="list-no-indent list-no-style">
						<li>Concordia University</li>
						<li>2015 - 2018</li>
					</ul>
				</li>

				<li class="margin-top-small"><span class="bold">DEC Computer Science Technology (Honor Roll)</span>
					<ul class="list-no-indent list-no-style">
						<li>Cegep Vanier</li>
						<li>2012 - 2015</li>
					</ul>
				</li>
				
			</ul>
		</div>
	</div>
	
	<div class="row margin-top-medium">
		<div class="two columns">
			<h6>I like</h6>
		</div>
		<div class="ten columns">
			<ul>
				<li>creating functional and usable products</li>
				<li>crafting the user experience to create memorable moments</li>
				<li>empower users with products</li>
				<li>solving big and small problems</li>
				<li>communicating and collaborating in a team environment</li>
				<li>being involved in all aspects of the product</li>
				<li>laughing, learning, and constantly being in motion</li>
				<li>being part of something big</li>
			</ul>
		</div>
	</div>
	
	<div class="row margin-top-medium margin-bottom-large">
		<div class="two columns">
			<h6>Hackathons</h6>
		</div>
		<div class="ten columns">
			<ul class="list-no-style">
				<li><span class="bold">ConU Hacks</span> - 24 Hours
					<ul class="list-no-indent list-no-style">
					<li class="bold">Snap Hunt</li>
					<li>Snap Hunt is a social networking android application that allows users to snap a picture/treasure with the location and send that treasure to nearby users to find. When a user finds the hidden treasure, the user that placed the treasure must verify it. Once verified, both users gain points.</li>
					<li><span class="bold">Uses:</span> GPS, Camera, Clarifai api for finding tags of the treasure, and backend to store all treasure information</li>
					</ul>
				</li>
				<li class="margin-top-small"><span class="bold">McHacks</span> - 24 Hours
					<ul class="list-no-indent list-no-style">
					<li class="bold">SMS Me</li>
					<li>SMS Me allows a user without access to data on their phone, to text a number asking information such as the nearest restaurant or attraction and will get back the top 3 results. The user can then respond back for further details about the restaurant.</li>
					<li><span class="bold">Uses:</span> SMS, Twilio api, Trip advisor api, Mapquest geocoding api, Nodejs</li>
					</ul>
				</li>
				
			</ul>
		
		</div>
	</div>



</div>


