<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
</head>
  <body>
  <div id="nav" class="container">
      <div class="row">
        <div id="navbar-header">
          <h5>
          <a class="header-link" href="/">Steven Tucci</a>
          </h5>
        </div>
        <div id="navbar-list">
          <ul class="flex-center">
            <li class="navbar-item">
              <a class="navbar-link" href="/work">Work</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/about">About</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  {{{body}}}
  </body>
  <script type="text/javascript" src="/js/script.js"></script>
</html>
